/* Estilo de la barra de navegación */
.navbar {
    display: flex; /* Utiliza el modelo flexible de diseño */
    background-color: black; /* Color de fondo */
    height: 80px; /* Altura de la barra de navegación */
    padding: 20px; /* Espaciado interno alrededor del contenido */
    position: sticky; /* Posición pegajosa */
    top: 0; /* Se mantendrá pegajosa en la parte superior */
    z-index: 1000; /* Nivel de apilamiento en capas */
  }
  
  /* Estilo de los elementos de la barra de navegación */
.navbarItem {
    padding: 10px 20px; /* Espaciado interno en la parte superior e inferior de 10px, y 20px a los lados */
    color: white; /* Color del texto */
    cursor: pointer; /* El cursor se convierte en una mano al pasar sobre el elemento */
    border-top: 4px solid transparent; /* Borde superior transparente por defecto */
  }

  .selected {
    border-color: #daa520; /*cambia el color del borde superior seleccionado */
  }
  
  
  
  
  