.header {
  display: flex; /* Diseño flexible */
  flex-direction: row; /* Orientación horizontal */
  justify-content: center; /* Centrar contenido */
  height: 100vh; /* Altura 100% de la ventana */
  font-weight: bold; /* Texto en negrita */
  color: #ffffff; /* Color del texto en blanco */
  text-shadow: 15px 15px #222; /* Efecto de sombra en el texto */
  font-size: 80px; /* Tamaño de fuente */
}
/* Alinea elementos <div> dentro de .header verticalmente */
.header div {
  display: flex; /* Diseño flexible */
  flex-direction: column; /* Orientación vertical */
  justify-content: center; /* Centrar contenido verticalmente */
}
.yellowText {
  color: goldenrod; /* Color dorado */
}
/* Sección de información */
.infoSection {
  display: flex; /* Diseño flexible */
  flex-direction: row; /* Orientación horizontal */
  justify-content: center; /* Centrar contenido horizontalmente */
  height: 100vh; /* Altura 100% de la ventana gráfica */
  align-items: center; /* Centrar elementos verticalmente */
}

/* Contenedor de información */
.infoContainer {
  color: white; /* Color del texto en blanco */
  margin-left: 40px; /* Margen izquierdo */
}

/* Estilo del título */
.infoContainer .title {
  font-size: 60px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
}
/* Espaciado en la parte superior de la lista */ 
.infoContainer .list {
  margin-top: 30px; /* Margen superior de 30px */
}

/* Indentación de la lista con viñetas */
.infoContainer .list ul {
  padding-left: 20px; /* Sangría izquierda de 20px */
}
/* Estilo de los elementos de la lista */
.infoContainer .list ul li {
margin-bottom: 20px; /* Aumenta el espacio entre los elementos de la lista */
list-style: disc; /* Agrega viñetas a los elementos de la lista */
}

.grayText {
  color: gray;
} 

/*estilo de la imagen*/
.image {
  max-width: 75%;
  height: 50vh;
  border-radius: 20%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}